@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-linear-gradient {
    mask-image: linear-gradient(to right, transparent, black 20%, black 80%, transparent);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.33%);
  }
}

.animate-scroll {
  animation: scroll 40s linear infinite;
}
